
body {
    background-image: linear-gradient(#0dcaf0, white);
  }

  .pb_landscape {
    position: fixed;
    width: 25vw;
    height: 5vw;
    border-width: 2px;
    font-size: 2.5vw;
  }

  .pb_portrait {
    position: fixed;
    width: 70vw;
    height: 7vh;
    border-width: 2px;
    font-size: 4vh;
  }

  #playButton:hover {
    color: white;
  }

  .gp_landscape {
    position: fixed;
    transform: translateY(95vh);
    height: 70vh;
    width: 60vw;
    background-color:white;
  }

  .gp_portrait {
    position: fixed;
    transform: translateY(95vh);
    height: 50vh;
    width: 80vw;
    background-color:white;
  }

  .moveUp {
    animation-duration: 3s;
    animation-name: slidein;
  }

  .moveUpBox {
    animation-duration: 3s;
    animation-name: slideinbox;
  }

  .stayUp {
    transform: translateY(-53.5vh);
  }

  .stayUpBox {
    transform: translateY(0px);
  }

  #headingText {
    font-size: 4vw;
    transform: translateY(-6vw);
    font-family: "Lucida Console", Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
  }





  /*
    Space for animations
  */
  
  @keyframes slidein {
    from {
      margin-right: 0px;
    }
  
    to {
      transform: translateY(-53.5vh);
    }
  }
  

  @keyframes slideinbox {
    from {
      margin-right: 0px;
    }
  
    to {
      transform: translateY(0px);
    }
  }
  





  
  
  
