
body {
    background-image: linear-gradient(#0dcaf0, white);
  }

  #playButton {
    width: 400px;
    height: 80px;
    border-width: 2px;
    font-size: 30px;
  }

  #playButton:hover {
    color: white;
  }

  
  
  
  
